---
BasedOnStyle: Google
PointerAlignment: Middle
DerivePointerAlignment: false
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ContinuationIndentWidth: 2
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: true
SeparateDefinitionBlocks: Always
...
