BasedOnStyle: LLVM
PointerAlignment: Left
AlignOperands: false
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: DontAlign
AllowShortFunctionsOnASingleLine: Empty
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
